<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.body.classList.remove('loading');
   document.title = '... On the Air'
   document.getElementById('logo').innerHTML='... On The Air'

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     Frequently Asked Questions<b></b>

   </div>
   <div id="controls">
     <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <div style="background-image: url('assets/hota-logo4.JPG'); background-size: cover;padding-bottom: 10px">
    <h1>FAQ</h1>
  </div>
  <% @items.each do |item| %>
    <% @post=item.end_item%>
    <%=render :partial => 'posts/post_details' %>
  <% end %>

<script>
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;

if ($(window).width() < 960) {
        site_smaller_map();
      }
</script>

