<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   document.title = '... On The Air'
   document.getElementById('logo').innerHTML='... On The Air'

</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <b>Home</b>
   </div>
   <div id="controls">
     <%=render 'map_controls'%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <div style="background-image: url('assets/hota-logo4.JPG'); background-size: cover;padding-bottom: 10px">
    <h1>ZL ... On The Air</h1>
  </div>

  <h2><i>ZL OnTheAir is undergoing major upgrades</i></h2>
  <p><i>Please be patient with us.  Some features may not be working. Your bug reports will help us get everything working better, faster. Send any bug reports to mattbriggs@yahoo.com. </i></p>
  <%=render 'result_table'%>

<div class="sectiontitle"><br/><br/>Recent actvity<br/><br/></div>

<%=render 'logs/list' %>
<script>
document.getElementById('actionbar-full').innerHTML=document.getElementById('actionbar').innerHTML;
if ($(window).width() < 960) {
        site_smaller_map();
      }

</script>

