<div class="erow">
<p>Coordinate format:</p>
<%=select_tag("projections", options_from_collection_for_select(@projections, "epsg", "name", @projection), {:onchange => 'map_updateProjection()', :class=>'body-select'})%>
</div>
<div class="erow">
<p>Map projection:</p>
<ul>
<li>
<%=link_to "Web Mercator (worldwide)", '#', :id => '3857', :onclick => "map_show_only_layer('OpenHikingMap'); map_switch_proj('3857'); map_current_proj = '4326'; map_current_projname = 'WGS'; map_mpc.setProjection(ol.proj.get('EPSG:'+map_current_proj)); map_current_projdp = 4; map_set_coord_format(); return false;" %>
</li>
<li>
<%=link_to "NZTM2000 (NZ)", '#',  :id => '2193', :onclick => "map_switch_proj('2193'); return false;" %>
</li>
</div>
