<h1>On the air API</h1>

<h2>Assets</h2>

<p><a href="/api/assets">/api/assets</a></p>

<table>
  <tr>
    <th colspan=2>Request</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td>asset_type</td>
    <td>filter the report by asset_type. For valid values see 'name' in 'assettypes'</td>
  </tr>
  <tr>
    <td>updated_since</td>
    <td>filter the report to include only records updated since a specific date. Valid values are a timestamp or date in 'yyyy-mm-dd' format.</td>
  </tr>
  <tr>
    <td>is_active</td>
    <td>Set to any value to <i>include</i> expired or deleted records in the results</td>
  </tr>
  <tr>
    <td>minor</td>
    <td>Set to any value to <i>exclude</i> minor reserves (marginal strins and special purpise reserves</td>
  </tr>

</table>

<table>
  <tr>
    <th colspan=2>Response</th>
  </tr>

  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td>id</td>
    <td>Internal ID</td>
  </tr>
  <tr>
    <td>code</td>
    <td>Unique code</td>
  </tr>
  <tr>
    <td>name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>minor</td>
    <td>true: Indicates a marginal strip or special-purpose reserve. Minor reserves are included in the site's search results by default.</td>
  </tr>
   <tr>
    <td>is_active</td>
    <td>true: current active record<br/>false: expired or deleted record</td>
  <tr>
    <td>location</td>
    <td>WKT format location (EPSG:4326).<br/>For polygons this it the centroid (if that lies within the polygon) or an arbitrary point within the polygon</td>
  </tr>
</table>
      
<h2>AssetTypes</h2>

<p><a href="/api/assettypes">/api/assettypes</a></p>

<table>
  <tr>
    <th colspan=2>Request</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td><i>none</i></td>
    <td></td>
  </tr>
</table>

<table>
  <tr>
    <th colspan=2>Response</th>
  </tr>

  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td>id</td>
    <td>Internal ID</td>
  </tr>
  <tr>
    <td>name</td>
    <td>Name</td>
  </tr>
  <tr>
    <td>display_name</td>
    <td>Display name for this asset type on forms</td>
  </tr>
   <tr>
    <td>pnp_class</td>
    <td>Equivalent class on ParksNPeaks</td>
  <tr>
    <td>keep_score</td>
    <td>true: asset types for which scores are tracked in 'ontheair.nz'</td>
  </tr>
</table>

<h2>AssetLinks</h2>

<p><a href="/api/assetlinks">/api/assetlinks</a></p>

<table>
  <tr>
    <th colspan=2>Request</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td><i>contained_by_assets</i></td>
    <td>True: Show child assets associated with this parent (assets contained by the listed asset).<br/>False (or undefined): Show parent assets (asset containing the listed asset)</td>
  </tr>
  <tr>
    <td><i>id</i></td>
    <td>string: specify an asset code to return only details for the specified asset. Otherwise return all assets</td>
  </tr>
  <tr>
    <td><i>asset_type</i></td>
    <td>string: return only results for the asset type specified. Can be combined with <i>contained_by_assets</i> if required</td>
  </tr>
</table>


<table>
  <tr>
    <th colspan=2>Response</th>
  </tr>

  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td>id</td>
    <td>Internal ID</td>
  </tr>
  <tr>
    <td>contained_code</td>
    <td>Asset code of parent asset</td>
  </tr>
  <tr>
    <td>containing_code</td>
    <td>Asset code of child asset</td>
  </tr>
</table>
      
<h2>logs</h2>

<p><a href="/api/assetlinks">/api/logs</a> (POST)</p>

<table>
  <tr>
    <th colspan=2>Request</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td><i>userID</i></td>
    <td>string: callsign of the user (as used to register/login to ontheair.nz)</td>
  </tr>
  <tr>
    <td><i>APIKey</i></td>
    <td>string: PIN for the user (see user profile to view/set) or ParksNPeaks key for users with a ParksNPeaks account. Note pin and key are not same as password</td>
  </tr>
  <tr>
    <td><i>file</i></td>
    <td>file: multi-part post part containing adif log to be uploaded</td>
  </tr>
  <tr>
  <tr>
    <td><i>(Example)</i></td>
    <td>curl -F "userID=zl4test" -F "APIKey=XXXX" -F file=@zl4test.adi https://ontheair.nz/api/logs</td>
  </tr>
</table>


<table>
  <tr>
    <th colspan=2>Response</th>
  </tr>

  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td>success</td>
    <td>true (log created) or false (log creation failed)</td>
  </tr>
  <tr>
    <td>message</td>
    <td>Error or Warning messages resulting from log or contact creation</td>
  </tr>
</table>

<h2>spots</h2>      
<p><a href="/api/spots">/api/spots</a> (GET)</p>

<table>
  <tr>
    <th colspan=2>Request</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td><i>start_time</i></td>
    <td>optional: Retrieve only spots &gt; this time (format: 'YYYY-MM-DD HH:MM:SS' UTC). Default is 2 hours ago</td>
  </tr>
  <tr>
    <td><i>zlota_only</i></td>
    <td>optional: Include this parameter with any value to retrieve only spots for assets in the ZLOTA scheme (default is all locally created spots from ontheair)</td>
  </tr>
</table>

<table>
  <tr>
    <th colspan=2>Response</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td><i>activator</i></td>
    <td>string: callsign of the activator</td>
  </tr>
  <tr>
    <td><i>spotter</i></td>
    <td>string: callsign of the spotter</td>
  </tr>
  <tr>
    <td><i>name</i></td>
    <td>string: name of the place being activated</td>
  </tr>
  <tr>
    <td><i>reference</i></td>
    <td>string: reference of the place being activated (or name if free activation)</td>
  </tr>
  <tr>
    <td><i>frequency</i></td>
    <td>string: frequency in kHz (note the unit)</td>
  </tr>
  <tr>
    <td><i>mode</i></td>
    <td>string: transmission mode (e.g. SSB, CW, ...)</td>
  </tr>
  <tr>
    <td><i>referenced_time</i></td>
    <td>time: time of spot</td>
  </tr>
  <tr>
    <td><i>comments</i></td>
    <td>string: comments</td>
  </tr>
  <tr>
</table>

<h2>spots</h2>      
<p><a href="/api/assetlinks">/api/spots</a> (POST)</p>

<table>
  <tr>
    <th colspan=2>Request</th>
  </tr>
  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td><i>userID</i></td>
    <td>string: callsign of the user (as used to register/login to ontheair.nz or ParksNPeaks)</td>
  </tr>
  <tr>
    <td><i>APIKey</i></td>
    <td>string: PIN for the user (see user profile to view/set) or ParksNPeaks key for users with a ParksNPeaks account. Note pin and key are not same as password</td>
  </tr>
  <tr>
    <td><i>activator</i></td>
    <td>string: callsign of the activator</td>
  </tr>
  <tr>
    <td><i>spotter</i></td>
    <td>string: callsign of the spotter</td>
  </tr>
  <tr>
    <td><i>reference</i></td>
    <td>string: reference of the place being activated (or name if free activation)</td>
  </tr>
  <tr>
    <td><i>frequency</i></td>
    <td>string: frequency in kHz (note the unit)</td>
  </tr>
  <tr>
    <td><i>mode</i></td>
    <td>string: transmission mode (e.g. SSB, CW, ...)</td>
  </tr>
  <tr>
    <td><i>comments</i></td>
    <td>string: comments. Note incuding the word 'DEBUG' will post in the test spots topic (found in the Info menu) and will not appear it the main spots list, and will not be sent out to other users.</td>
  </tr>
  <tr>
    <td><i>do_not_lookup</i></td>
    <td>optional: including this parameter with any value will disable lookup of containing assets (e.g. if you post a spot for a summit <b>only</b> the summit will appear in the spot, rather than the summit and any park it lies within)</td>
  </tr>

  <tr>
  <tr>
    <td><i>(Example)</i></td>
    <td>curl -F "userID=ZL4TEST" -F "APIKey=XXXX" -F "do_not_lookup=true" -F "activator=ZL2TEST" -F "spotter=ZL3TEST" -F "reference=ZLL/0002" -F "frequency=7090" -F "mode=SSB" -F "comments=DEBUG testing spotting API" https://ontheair.nz/api/spots</td>
  </tr>
</table>


<table>
  <tr>
    <th colspan=2>Response</th>
  </tr>

  <tr>
    <th>field</th>
    <th>description</th>
  </tr>
  <tr>
    <td>success</td>
    <td>true (spot created) or false (spot creation failed)</td>
  </tr>
  <tr>
    <td>message</td>
    <td>Error or Warning messages resulting from spot creation</td>
  </tr>
</table>
