   <div class="erow">
      <div class="sectiontitle" style="margin-top: 12px;">Awards:</div>
      <table>
        <tr>
          <th>Award</th>
          <th>Score</th>
          <th>Achieved</th>
          <th>Next</th>
        </tr>
        <% @awards.each do |a| %>
          <% awarded=@user.has_award(a.id) %>
          <tr>
            <td>
               <%=link_to a.name, '/awards/'+a.id.to_s, remote: true,  :id => 'award', :onclick => "linkHandler('award')" %>
            </td>
            <td>
               <% if a.chased==true and a.activated==true then %>
                 <%# need completed score %>
               <% elsif a.chased==true then %>
                 <% score=@user.chased_count_total[a.programme] %>
               <% elsif a.activated==true then %>
                 <% score=@user.qualified_count_total[a.programme] %>
               <% else %>
                 <% score=@user.score[a.programme] %>
               <% end%>
              <%=score%>
            </td>
            <td>
              <%=awarded[:latest]%>
            </td>
            <td>
              <%=awarded[:next]%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

