   <div class="erow">
      <div class="sectiontitle" style="margin-top: 12px;">Worked-all-district Awards:</div>
      <table>
        <tr>
          <th>District</th>
          <th>Class</th>
          <th>Activity</th>
          <th>Date awarded</th>
        </tr>
        <%@district_awards.each do |award|%>
          <tr>
             <td><%=link_to award.district.name+" ("+award.district.region_name+")", '/districts/'+award.district.district_code+"?callsign="+@user.callsign, remote: true,  :id => 'award', :onclick => "linkHandler('award')" %></td>
             <td><%=award.activity_type.capitalize%></td>
             <td><%=award.award_class.capitalize%></td>
             <td><%=award.created_at.to_date%></td>
          </tr>
        <%end%>
      </table>
    </div>

