  <% if params[:summitfield]=='summit2' then summitfield='summit2' else summitfield='summit1' end %>`
<%= form_tag '/querysummit?summitfield='+summitfield, :name => 'findform', :remote => true, :method => 'get', :style => 'margin-bottom: 0px' %>
  <div class="rowtitle">Find:</div>
  <div class="rowtext">
    <input type="text" name="searchtext" value='<%=@searchtext%>'/>
  </div>
  <div class="buttonshort">
    <%= submit_tag "Find", :id => "find", :onclick => "submit_search('find');" %>
  </div>
</form>

<% if @summits and @summits.count>0 %>
  <% if @summits.count>39 then %>
    <div class="erow">
    Your search returned more results than listed. Please refine
    </div>
  <% end %>
  <table>
  <% @summits.each do |summit| %>
    <tr>
      <td> 
        <%= link_to summit.codename.to_s+(if(summit.park) then " ("+summit.park.codename+")" else "" end), '#', :id => 'summit_link'+summit.id.to_s, :onclick => "select_summit('"+summitfield+"', '"+summit.short_code+"', '"+summit.name+"', '"+summit.x.to_s+"', '"+summit.y.to_s+"', '"+summit.location.to_s+"', '"+(if summit.park then summit.park.id.to_s else '' end)+"', '"+(if summit.park then summit.park.name else '' end)+"');return(false);" %>
      </td>
    </tr>
  <% end %>
<% else %>
  No results found
<% end %>
