---
http_interactions:
- request:
    method: get
    uri: https://api.pota.app/park/activations/Nz-0002?count=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b486ea2d-0944-44d5-886c-d249921f488a
      X-Amz-Apigw-Id:
      - C2ZKKHGtiYcEllQ=
      Isbase64encoded:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '[{"activeCallsign": "ZL1RDK", "qso_date": "20260102", "totalQSOs":
        23, "qsosCW": 0, "qsosDATA": 0, "qsosPHONE": 23, "locationDesc": "NZ-AUK"},
        {"activeCallsign": "ZL2MF", "qso_date": "20251106", "totalQSOs": 23, "qsosCW":
        0, "qsosDATA": 0, "qsosPHONE": 23, "locationDesc": "NZ-AUK"}, {"activeCallsign":
        "ZL1SGS", "qso_date": "20251011", "totalQSOs": 12, "qsosCW": 0, "qsosDATA":
        2, "qsosPHONE": 10, "locationDesc": "NZ-AUK"}, {"activeCallsign": "ZL1BQD",
        "qso_date": "20240824", "totalQSOs": 48, "qsosCW": 0, "qsosDATA": 48, "qsosPHONE":
        0, "locationDesc": "NZ-AUK"}, {"activeCallsign": "ZL1HOG", "qso_date": "20220716",
        "totalQSOs": 10, "qsosCW": 0, "qsosDATA": 0, "qsosPHONE": 10, "locationDesc":
        "NZ-AUK"}, {"activeCallsign": "ZL1HOG", "qso_date": "20220715", "totalQSOs":
        27, "qsosCW": 0, "qsosDATA": 0, "qsosPHONE": 27, "locationDesc": "NZ-AUK"},
        {"activeCallsign": "ZL1BQD", "qso_date": "20220623", "totalQSOs": 55, "qsosCW":
        9, "qsosDATA": 29, "qsosPHONE": 17, "locationDesc": "NZ-AUK"}]'
  recorded_at: Sat, 29 Aug 2026 05:33:01 GMT
recorded_with: VCR 6.4.0
